/* used % to make responsive */

* {
  /* border: 1px solid gold; */
}

html, body {
  /* background-color: #991728; */
  background-color: black;
  background-image: url("images/dark_and_misty.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-family: Arial, Helvetica, sans-serif;
}

/* ========= main container =========== */
.main-container {
  justify-content: space-around;
  padding: 2%;
  background-color: black
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

@media (min-width: 600px) {
    .container{
      flex-direction: column;
    }
}

/* ===== header container ====== */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
}

.header > img {
  width: 18%;
  height: 18%;
  border-radius: 5%;
}

.title {
  padding: 1.5%;
  color: red;
  text-align: center;
  font-size: 200px;
  font-family: 'Creepster', cursive;
}

/* ===== carousel ====== */
/* watched carousel video */
/* didn't try to copy but the code is minimal and it is hard to do it any other way then she showed */

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.book-covers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 2%;
  width: 15%;
 }

 .book-covers img:first-of-type {
   display: inline-block;
 }

.book-covers img {
  height: 100%;
  width: 100%;
  display: none;
  border-width: thick;
  border-color: #991728;
}

// previous and next buttons to move through images
.carousel-button {
}

.prev, .next {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

/* ===== buttons container ====== */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8%;
}

.button {
  background-color: transparent;
  padding: 2% 2%;
  color: red;
  margin-left: 13%;
  font-size: 100px;
}

/* ===== form container ====== */
/* ===== w/in buttons container ====== */
form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

/* ===== results container ====== */
.query-data {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
  /* justify-content: center; */
}

/* this div is defined in the app and appended to the query-data folder */
.bookList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
  font-size: 80px;
  width: 500px;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 5px solid white;
}

/* ======================================= */
/* book modal handling referenced pair.com */
.popup-body {
  visibility:hidden;
}
.popup-content {
  visibility: hidden;
}
.popup-body.active {
  visibility:visible;
}
.popup-content.active {
  visibility: visible;
}

.open {
  background-color: #d0beba;
}
/* ======================================= */

img {
  width: 500px;
  height: 800px;
}

.popup-body {
  /* display: none; */
  /* background-color: gray; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* height: 100%; */
  /* width: 100%; */
  /* z-index: 1; */
  /* overflow: auto; */
  /* border: 10px solid red; */

 visibility: hidden;
 position: absolute;
 background: #ffffff;
 border: 3px solid #666666;
 width: 50%;
 height: 50%;
 left: 25%;
}

.popup-body.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}



p {
  color: red;
  text-align: center;
  font-size: 80px;
  border: 1px solid blue;
}

/* ===== footer container ====== */
.footer {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:  center;
}

.footer > img {
  height: auto;
  width: 100;
}
