/* used % to make responsive */

html, body {
  /* background-color: #991728; */
  background-color: black;
  background-image: url("images/dark_and_misty.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-family: Arial, Helvetica, sans-serif;
}

/* ========= main container =========== */
.main-container {
  justify-content: space-around;
  padding: 2%;
  background-color: black
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
}

@media (min-width: 600px) {
    .container{
      flex-direction: column;
    }
}

/* ===== header container ====== */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20%;
  margin-bottom: 2%;
}

.header > img {
  max-width: 45%;
  height: 100%;
  border-radius: 5%;
}

.title {
  padding: 1.5%;
  color: red;
  text-align: center;
  font-size: 200px;
  font-family: 'Creepster', cursive;
}

/* ===== carousel ====== */
/* watched carousel video */
/* didn't try to copy but the code is minimal and it is hard to do it any other way then she showed */

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  /* background-color: pink; used for debugging css*/
}

.book-covers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 2%;
  width: 15%;
 }

 .book-covers img:first-of-type {
   display: inline-block;
 }

.book-covers img {
  height: 100%;
  width: 100%;
  display: none;
  border-width: thick;
  border-color: #991728;
}

// previous and next buttons to move through images
.carousel-button {
}

.prev, .next {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

/* ===== buttons container ====== */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8%;
  /* background-color: bisque; used for testing css */
}

.button {
  background-color: red;
  padding: 2% 2%;
  color: white;
  margin-left: 13%;
  font-size: 20px;
  border-color: white;
}

/* ===== form container ====== */
/* ===== w/in buttons container ====== */
form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

/* ===== results container ====== */
.query-data {
height: 45%;
display: flex;
justify-content: center;
align-items: center;
display: inline-block;
width: 100%
}

p {
  color: red;
  text-align: center;
  font-size: 80px;
}

/* ===== footer container ====== */
.footer {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:  center;
}

.footer > img {
  height: auto;
  width: 100;
}

/* ===================================== */
/* code grave yard */
